* {
	padding : 0;
	margin : 0;
}

header {
	width:100%;
	height:100px;
	background-color:#ececec;
}

#HeaderTop{
	height:100px;
	margin-left:15%;
	margin-right:15%;
	width:70%;
	
}
#HeaderTop p{
	display:inline-block;
	vertical-align:middle;
	margin-top:20px;
	font-size:30px;
}
.logo{
	width:50px;
	height:50px;
	padding-top:25px;
	display:inline-block;
	vertical-align:middle;
	padding-right:25px;
}
nav{
	
	height:35px;
	width:70%;
	display:inline-block;
	padding-left:15%;
	padding-right:15%;
	background-color:#012169;
}

.navButton{
	text-align : center;
	width:145px;
	height:30px;
	display:inline-block;
	color: white;
	padding-top:5px;
	font-size:20px;
	border-right:5px solid #012169;
}
.navButton:hover{
	border-right:5px solid white;
	color:grey;
}
main {
	width : 70%;
	background-color : #ececec;
	min-height:650px;
	margin:0 auto;
	
	padding-top:70px;
}

footer {
	
	margin: 0 auto;
	color : white;
	
	background-color:#012169;

}

footer p{
	text-align : center;
	padding-top : 5px;
	paddin-bottom:5px;
}
